@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

:root {
    --background-dflt: #dcbb4e;
    --foreground-dflt: #6e5914;
    --table-header-background: #130329;
    --table-header-text: #67357a;
    --text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1);
    font-family: Tahoma, sans-serif;
    text-align: center;
}

/* @media (prefers-color-scheme: dark) { */
:root.dark {
    --background-dflt: #130329;
    --foreground-dflt: #67357a;
    --table-header-background: #c9ab47;
    --table-header-text: #6e5914;
    --text-shadow: 0 0 0.1em rgba(256, 256, 256, 0.1);
}

body {
    background-color: var(--background-dflt);
    color: var(--foreground-dflt);
    transition: 1s;
}

.container {
    display: flex;
    flex-direction: column;
    width: min(600px, calc(100vw - 20px));
    margin: auto
}

.header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px
}

svg {
    margin: auto 10px;
    fill: var(--table-header-text);
    transition: 0.5s;
}

svg:hover {
    fill: var(--table-header-background);
}

h1 {
    position: sticky;
    font-size: 48px;
    font-family: 'Source Code Pro', monospace;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 10px 0px;
    text-align: left;
}

h2 {
    text-align: left;
    font-weight: 600;
}

table {
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 1.1em;
    width: min(600px, calc(100vw - 20px));
    border: 1px solid var(--foreground-dflt);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    text-align: left;
    transition: 1s;
}
thead tr {
    background-color: var(--table-header-background);
    color: var(--table-header-text);
    text-align: left;
    transition: 1s;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--foreground-dflt);
    transition: color 0.2s;
}

tbody tr:last-of-type {
    border-bottom: 3px solid var(--table-header-background);
}

tbody tr:hover{
    color: var(--table-header-text);
}

em {
    color: var(--table-header-text);
    font-style: normal;
}

.stats,
.description {
    margin: 10px;
    width: min(600px, calc(100vw - 20px));
}


li {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    list-style: square;
    padding: 5px;
}

.description > h2:not(:first-child){
    margin-top: 40px;
}